
h1{
  text-align: left;

}
ul{
  list-style-type: none;
  background-color: brown;
  font-weight: 500;
  font-size: 30px;
  text-decoration-color: #ffffff;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  
  

  
}
li {
  
  font-size: larger;
  color: white;
  padding: 14px 16px;
  text-decoration: none;

}
